/* Start Variables */

:root {
    --main-color: #cce6d2;
    --second-color: #f6cdbc;
    --section-padding: 100px;
    --shadow-color: rgb(0 0 0 / 70%);
    --font-color: #695b52;
}


/* End Variables */


/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}



html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Open Sans', sans-serif;

}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */
/* Start Header */

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
}

@media (max-width: 991px) {
    header .container::after {
        bottom: 15px;
    }
}

header .logo img {
    height: 60px
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .toggle-button {
    width: 30px;
    height: 23px;
    position: absolute;
    top: 35px;
    right: 65px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header nav .toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 100px;
}

header nav ul {
    display: flex;
    height: 100%;
}

@media (max-width: 767px) {
    header nav .toggle-button {
        display: flex;
    }

    header nav ul {
        display: none;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 60%);
        top: 83px;
        position: absolute;
        height: min-content;
        text-align: center;
    }

    header nav ul li {
        height: min-content;
        width: 100%;
    }

    header nav ul li a {
        padding: 30px 0;
        text-align: center;
    }

    header nav .dropdown {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: var(--main-color);
        transition: 0.3s;
        cursor: pointer;
    }

    header nav .dropdown i {
        top: 25px;
        position: absolute;
        left: 150px;
    }
}

header nav .dropdown label {
    /* padding: 25px 0; */
    cursor: pointer;
    display: block;
    height: min-content;
    font-size: 16px;
    position: relative;
}

@media (max-width:767px) {
    header nav .dropdown label {
        padding: 25px 0;
    }


}

header nav .dropdown label .link-serv {
    position: absolute;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
    z-index: 2;
}

@media (max-width:991px) {
    header nav .dropdown label .link-serv {
        padding: 11px 40px;
    }
}

header nav .dropdown:hover .dropdown-content {
    display: block;
}

header nav .dropdown .dropdown-content {
    position: static;
    width: 100%;
    text-align: center;
    height: 195px;
}

header nav .dropdown .dropdown-content li {
    position: static;
    display: block;
    padding: 0;
}


header nav .dropdown input[type="checkbox"]:checked~.dropdown-content {
    display: block;
}



header nav .dropdown .dropdown-content li a {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

@media (max-width:767px) {
    header nav .dropdown .dropdown-content li a {
        padding: 20px 0;
    }
}

#toggle-button:checked~ul {
    display: block;
}

@media (min-width:768px) {
    header nav ul li {
        padding-left: 38px;
    }
}

header nav ul li {
    position: relative;
}

header nav ul li a {
    padding: 40px 25px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

@media (max-width: 991px) {
    header nav ul li a {
        padding: 24px 25px;
    }
}

@media (min-width:768px) {
    header nav .dropdown .dropdown-content {
        height: 130px;
        width: 175px;
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 98px;
        background-color: #f6cdbc1c;
    }
}

header nav .dropdown .dropdown-content li {
    height: 30px;
    width: 100%;

}

@media (max-width:767px) {
    header nav .dropdown .dropdown-content li {
        margin-bottom: 15px;
    }
}

header nav .dropdown .dropdown-content a {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0px;
    width: calc(100% - 2px);
}

header nav li:hover .dropdown-content {
    color: var(--second-color);
    display: flex;
}

nav input[type="checkbox"] {
    display: none;
}

@media (min-width:768px) {
    header nav .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        color: var(--main-color);
        transition: 0.3s;
        cursor: pointer;
    }
}

header nav .dropdown:hover {
    color: var(--second-color);
}

@media (max-width: 991px) {
    header nav .dropdown .dropdown-content {
        top: 66px;
    }
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
}

@media (max-width:767px) {

    header nav .dropdown .dropdown-content li a:hover {
        color: var(--second-color);
        border-bottom: 2px solid var(--second-color);


    }
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid var(--main-color);
}

header nav .form .fa-magnifying-glass {
    color: var(--main-color);
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* End Header */
/* Start Emailer */
.emailer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 220px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}
@media (min-width:1500px) {
    .emailer {
        gap: 100px;
        margin-left: 70px;
        margin-right: 70px;
        }

}
@media (min-width:1500px) {.wrapper.result{
    margin-left: -170px;
    margin-right: -170px}}


@media (max-width:900px) {
    .emailer {
        flex-direction: column;
        display: flex;
        gap: 45px 0;
        align-content: center;
        flex-wrap: wrap
    }
}


.box-one {
    display: flex;
    align-items: center;
    justify-content: center;

}

.form .header {
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.form.instruction .header {
    color: #333;
    opacity: 0.6;
    cursor: pointer;
    padding-top: 10px;
}

.wrapper.active .form.instruction .header {
    color: #fff;
    opacity: 1;
}

.wrapper.active .form.signup .header {
    opacity: 0.6;
}

.wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    background-color: var(--second-color);
    padding: 20px 30px 120px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}


.form.instruction {
    position: absolute;
    width: calc(100% + 316px);
    height: 100%;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 160px;
    border-radius: 50%;
    bottom: -85%;
    transition: .7s all ease;

}

.wrapper.active .form.instruction {
    bottom: -70px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 35%;
    background-color: #cce6d2;

}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 85px;
    margin-top: 40px;
}

form input {
    height: 60px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background-color: #fff;
}

#Password {
    position: relative;
}

.mesg {
    background-color: #a2a2a280;
    position: absolute;
    top: 298px;
    left: 183px;
    border-radius: 18px;
    padding: 7px;
    color: white;
    font-size: 12px;
    display: none;

}



.instructions {
    line-height: 1.6;
    font-size: 17px;
    font-family: fangsong;
}

@media (max-width:480px) {
    .instructions {
        line-height: 1.2;
    }
}

.instructions p {
    padding-top: 20px;
    text-align: center;
    padding-left: 1px;
}

.instructions p strong {
    color: #fff;
}


@media (max-width:480px) {
    .instructions p {
        padding: 25px 20px 10px;
    }
}



.instructions ol {
    padding-left: 35px;
}


ol span {
    font-weight: 600;
    color: #fff;
}

@media (max-width:480px) {
    ol span {
        display: block;
        padding-bottom: 15px;

    }
}

.instructions a {
    text-decoration: none;
    transition: .3s;
    color: #fff;
}


.instructions a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: var(--second-color);
}

.emailer .box-two button {
    position: relative;
    background-color: transparent;
    outline: none;
    border-radius: 20px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: .7s;
    color: #666666bf;
    border-color: #66666640;
    z-index: 1;
}


button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 340%;
    background: linear-gradient(to bottom, #ffe2f96e 12%, #c30d0d, #fff 95%);
    background-color: linear;
    top: -218%;
    left: 0;
    z-index: -1
}

button:hover:before {
    top: 0;
    color: #fff;
    padding: 10px;
}


.emailer .box-two #notify {
    bottom: -100px;
}


.emailer .box-two .result {
    width: 100%;
    height: 310px;
    background-color: white;

    border-radius: 10px;
    overflow: auto;
    padding: 5px;
    position: relative;
    bottom: -50px;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

progress {
    appearance: none;
    height: 20px;
    width: 100%;
    border: none;
    background-color: var(--main-color);
}

progress::-webkit-progress-bar {
    background-color: #f5f5f5;
}

progress::-webkit-progress-value {
    background-color: var(--main-color);
}

progress::-moz-progress-bar {
    background-color: var(--main-color);
}

.emailer .result .loader-container {
    overflow: hidden;
    max-height: 185px;
    margin: -242px 56px 56px 56px;
    top: 20px;
    position: relative;
    padding: 70px 0;
}



.emailer .result .loader {
    border: 16px solid var(--second-color);
    border-top: 16px solid #c30d0dab;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 2s linear infinite;
    margin: -30px auto;
}

.emailer .result .loader {
    display: none;
}

.emailer .box-two h2 {
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    position: relative;
    bottom: -40px;
}


/* End Emailer */